# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE*URL="postgresql://gabrielenguidanos21:YUde0MpS8HEC@ep-spring-sound-a2qhekmk-pooler.eu-central-1.aws.neon.tech/pruebaProyecto?sslmode=require&connect_timeout=50"
AUTH_SECRET="1234"
GITHUB_CLIENT_ID="737786296afce0ab6db0"
GITHUB_CLIENT_SECRET="db395a7d66c291c673139518b5b45e634a95fdc7"
GOOGLE_CLIENT_ID="911834715404-emoi8dn04av6eo5hb1grs6k2rhrai9ut.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-Mqy9wuKEHl8_ftH_cRkEJcWPuT6*"
SPOTIFY_CLIENT_ID="8bcab04599e2415ab10b0fe90e3465a4"
SPOTIFY_CLIENT_SECRET="f907786cb7cf47db8bcd1c445e6d98f8"
RESEND_API_KEY="re_NLi2MHcn_MMBuKq2JFH1hhJ8PuD4aMcaD"
SUPABASE_URL="https://iqaizgmgstwtyawoqcrl.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlxYWl6Z21nc3R3dHlhd29xY3JsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTE4Nzk5NjgsImV4cCI6MjAyNzQ1NTk2OH0.twEuDK480PsKuuar-36SBLjzyfKbD774pZy6d5O1i08"
