@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --success: 149 80% 90%;
    --success-foreground: 163 94% 24%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --my-purple: rgb(79 70 229);

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body,
  :root {
    height: 100%;
  }
  html,
  :root {
    font-size: calc(14px + 0.398vw);
    font-size: calc(16px + (24 - 16) * (100vw - 400px) / (1920 - 200));
  }
  body {
    @apply bg-background text-foreground;
  }


  .search-bar input:focus-visible {
    outline: transparent;
  }

  .album-cover-search {
    transform: perspective(800px) rotateY(-25deg) translateY(0%);
    transform-origin: center left;
    top: 50%;
  }

  #card-background {
    filter: contrast(100%) opacity(60%);
  }

  .form-message {
    animation: form-error ease-in-out 0.6s forwards;
  }

  .file-comments-parent {
    animation: file-comments-parent ease-in-out 0.6s forwards;
  }

  ol{
    list-style: decimal;
  }

  audio,
  video {
    width: 100%;
    border-radius: 5px;
  }

  input[type="file"] {
    display: none;
  }

  .loadingTrianglesOffset {
    order: 3;
    left: 100%;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    opacity: 0.8;
  }

  .react-pdf__Page {
    width: 2px !important;
    height: 100% !important;
  }

   .text-shadow-white {
    color: white;
    text-shadow: 0 0 0.1em white;
  }

  .text-shadow-black{
    text-shadow: 0px 0px 2px black;
  }

  video{
    filter: saturate(300%)
  }

  button[disabled] {
    cursor: not-allowed;
  }

}

.rotate-logo {
  animation: rotate-logo 0.7s forwards ease-in-out;
}

@keyframes file-comments-parent {
  from {
    opacity: 0;
    left: 100%;
  }
  to {
    opacity: 100;
    left: 100%;
  }
}

@keyframes rotate-logo {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

@keyframes form-error {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-20%);
  }
  70% {
    transform: translateY(15%);
  }
  80% {
    transform: translateY(-10%);
  }
  90% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
